protected/runtime/*
!protected/runtime/.gitkeep
assets/*
!assets/.gitkeep
!assets/avatars
!assets/css
!assets/font
!assets/images
!assets/jquery
!assets/js
!assets/jscolor
!assets/reveal
!assets/uploadify
.settings
.buildpath
.project
.idea
.log
*.DS_Store
upload/
